.ctaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 232px;
  background-image: url('/images/CTA.png');
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

.ctaContent {
  text-align: center;
  color: white;
}

.ctaContent h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  color: white;
}

.ctaButtonWrapper {
  margin-top: 10px;
}

.ctaButton {
  padding: 10px 20px;
  background-color: white;
  color: black;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #e0e0e0;
}
